userid: {{ .Userid }}
groupid: {{ .Groupid }}
sites:
  one.wordpress.local:
    hostname: one.wordpress.local
    php_version: 7.4
  two.wordpress.local:
    hostname: two.wordpress.local
    php_version: 8.2